@import 'base';
@import 'desktop';


@media (min-width: 1440px) {
    #skill{
        #skill-content{
            .skill-box{
                width: 14vw;

                img{
                    width: 5.5vw;
                }

                p{
                    font-size: 2vw;
                }

                span{
                    font-size: 1.5vw;
                }
            }
        }
    }
}

@media (max-device-width: 1024px) and (orientation: portrait) {
    #header{
        height: 50vh;

        #scroll-down{
            p{
                font-size: 15px;
            }
            img{
                width: 80%;
                height: 90%;
            }
        }
    }

    #about{
        height: 85vh;

        #about--title{
            width: 10%;
            height: 100%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #about-content{
            width: 90%;

            #about--img{
                height: 40vh;

                #about-name{
                    p{
                        font-size: 2.5vw;
                    }
                    h2{
                        font-size: 7vw;
                        margin-top: -3%;
                    }
                }
            }

            #about-text{
                height: 45vh;
                padding-top: 10px;

                #about-text-content{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    .about-box-reveal{
                        margin-top: 4px;

                        p{
                            font-size: 3.1vw;
                        }
                        h1{
                            font-size: 8.3vw;
                        }
                        h2{
                            font-size: 5vw;
                        }

                        #about-txt-1, #about-txt-5, #about-txt-7{
                            margin-left: 8%;
                        }
                        #about-txt-2{
                            margin-left: 25%;
                        }
                        #about-txt-3{
                            margin-left: 50%;
                        }

                        #about-txt-4{
                            margin-left: 8%;
                        }
        
                        #about-txt-6,#about-txt-8{
                            margin-left: 11%;
                        }
        
                        #about-txt-4, #about-txt-6,#about-txt-8{
                            margin-bottom: -3%;
                        }
                    }
                }

                #about-txt-img1{
                    width: 15vw;
                    left: 4%;
                    top: 30%;
                }

                #about-txt-img2{
                    bottom: 5%;
                    right: 10%;
                    width: 15vw;
                }
            }
        }
    }

    #skill{
        min-height: 70vh;

        #skill-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #skill-content{
            width: 90%;
            padding: 20px 25px 60px 25px;
            align-items: center;

            .skill-box{
                width: 15vw;
                height: 12vh;
                margin: 1vw 2vw;

                img{
                    width: 50%;
                }

                p{
                    font-size: 2.3vw;
                    margin-top: 10px;
                }

                span{
                    margin-top: 2.5px;
                }

            }
        }
    }

    #work{
        height: 100vh;

        #work-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #work-content{
            width: 90%;

            .work-box{
                height: 70%;
                
                .work-display{
                    width: 80%;
                }
            }

            #work-other{
                height: 30%;

                h3{
                    font-size: 2.5vw;
                    letter-spacing: 1px;
                }
            }
        }
    }

    #footer{
        height: 50vh;

        #footer-grad-bottom{
            #socials{
                height: 75px;
                h3{
                    font-size: 25px;
                }
                ul{
                    margin-right: 3.5vw;
                    li{
                        min-width: 30px;
                        margin: 0 1.1vw;
                        text-align: center;
                        a{
                            img{
                                width: 20px;
                                transform: translateY(25%);
                            }
                            p{
                                transform: translateY(0%);
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

        .work-close{
            height: 2vh !important;
            width: 5vw !important;
        }
    
}

@media (max-width: 1024px) and (orientation: landscape) {
    #about{
        #about--title{
            height: 100%;
        }

        #about-content{
            #about-text{
                display: grid;
                place-items: center;
                #about-text-content{
                    width: 80%;
                    align-items: center;
                    
                    .about-box-reveal{
                        width: 100%;
                    }
                }
            }
        }
    }

    #skill-content{
        width: 80%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        .skill-box{
            width: 15vw !important;
        }
    }

    #work{
        #work-title{
            height: 100%;
        }
    }
}

@media (max-width: 450px){
    #cursor{
        display: none;
    }

    #progressbar{
        width: 2px;
        left: 0;
    }

    #header{
        height: 90vh;
        min-height: 600px;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 0vw;
        
        #name-title{
            max-width: 90%;
            padding-left: 0;
            align-items: center;
            flex-direction: column;
            padding-top: 50px;

            #header-title1{
                width: 100%;
                h1{
                    span{
                        font-size: 8vw;
                    }
                }
            }
            #header-title2{
                margin-top: .5%;
                padding-left: 0;

                h3{
                    span{
                        font-size: 5.5vw;
                        margin: 0px;
                    }
                }
            }
        }
        #header-image{
            #profile-box{
                width: 55vw;
                overflow: hidden;
                left: 0%;
                top: 17.5%;
            }
        }

        #scroll-down{
            p{
                font-size: 11px;
            }
            img{
                width: 60%;
                height: 70%;
            }
        }
    }

    #about{
        height: 90vh;
        min-height: 600px;

        #about--title{
            width: 10%;
            height: 100%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #about-content{
            width: 90%;

            #about--img{
                height: 40vh;
                min-height: 300px;

                #about-name{
                    p{
                        font-size: 3vw;
                    }
                    h2{
                        font-size: 8vw;
                        margin-top: -3%;
                    }
                }
            }

            #about-text{
                height: 50vh;
                min-height: 300px;

                #about-text-content{
                    width: 100%;
                    margin-top: 0%;

                    .about-box-reveal{
                        width: 100%;
                        margin-top: 0px;

                        p{
                            font-size: 4vw;
                        }
                        h1{
                            font-size: 10vw;
                        }
                        h2{
                            font-size: 6vw;
                        }
    
                        #about-txt-1, 
                        #about-txt-2, 
                        #about-txt-3, 
                        #about-txt-4, 
                        #about-txt-5, 
                        #about-txt-6, 
                        #about-txt-7,
                        #about-txt-8{
                            margin-left: 4%;
                            margin-top: 0%;
                        }
                    }
                    
                }

                #about-txt-img1{
                    display: none;
                }

                #about-txt-img2{
                    bottom: 0%;
                    right: 7%;
                    width: 28vw;
                }
            }
        }
    }

    #skill{
        min-height: 550px;
        height: 80vh;

        #skill-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #skill-content{
            width: 90%;
            padding: 10px 25px 30px 25px;
            align-items: center;

            .skill-box{
                width: 20vw;
                margin: 1vh 1.3vw;
                margin-bottom: 0;
                padding-bottom: 0;

                img{
                    width: 45%;
                }

                p{
                    font-size: 2.5vw;
                    margin-top: 10px;
                }

                span{
                    font-size: 2.2vw;
                    margin-top: 2.5px;
                }

            }
        }
    }

    #work{
        min-height: 600px;
        height: 130vh;

        #work-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #work-content{
            width: 90%;

            .work-box{
                height: 41%;
                
                .work-display{
                    width: 80%;
                    padding: 3%;

                    .picture-box{
                        width: 100%;

                        .show-project-btn{
                            width: 20vw;
                            height: 30px;

                            .spb-line{
                                border: 1px solid $cold;

                                p{
                                    font-size: 55%;
                                    transform: translateX(-17%);
                                }
                            }

                            &:hover{
                                .spb-line{
                                    width: 100%;
                                    height: 100%;
    
                                    .spb-img{
                                        img{
                                            width: 70%;
                                            height: 65%;
                                            transform: rotate(-90deg) translateY(-8%);
                                        }
                                    }
    
                                    p{
                                        transform: translateX(-7%);
                                    }
                                }
                            }
                        }
                    }

                    .block-white-line{
                        height: .5px;
                        margin-top: 4%;
                        margin-bottom: 3%;
                        width: 90%;
                    }

                    h3, p{
                        margin-top: 1%;
                        letter-spacing: 1px;
                    }

                    h3{
                        font-size: 4.5vw;
                    }
                    p{
                        font-size: 3vw;
                    }
                }
            }

            #work-other{
                height: 18%;

                h3{
                    font-size: 3vw;
                    letter-spacing: 1px;
                }
            }
        }
    }

    #footer{
        min-height: 300px;
        height: 60vh;

        #footer-grad-top{
            height: 42%;
        }

        #footer-grad-bottom{
            #socials{
                height: 8vh;
                display: flex;
                align-items: center;
                overflow: hidden;
                h3{
                    font-size: 13px;
                    padding-top: 2%;
                }
                ul{
                    margin-right: 5vw;
                    li{
                        margin: 0 1%;
                        display: flex;
                        justify-content: center;

                        a{
                            img{
                                width: 12px;
                                transform: translateY(25%);
                            }
                            p{
                                transform: translateY(0%);
                                font-size: 7.5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #hm{
        text-align: center;
        #hmp{
            width: 90vw;
            font-size: 9px;
        }
    }
    .white-line{
        width: 1.5px;
    }
    .show-project{
        
        .work-close{
            top: 5.5vh;
            right: 5.5vw;
            width: 7vw;
            height: 30px;
            opacity: .9;

            .fullimg-close-part{
                height: 1px;

                &.cpart1{
                    transform: rotate(45deg);
                }

                &.cpart2{
                    transform: rotate(-45deg);
                }
            }
        }
    
        .project-title-box{
            width: 80%;
            margin-bottom: 23px;

            .work-link{
                margin-top: 10px;
                width: 72px;
                height: 32px;
                
                a{
                    font-size: .8rem;
                }
            }
    
            h1{
                font-size: 5vw;
                letter-spacing: 1px;

                &.work-sw{
                    font-size: 8vw;
                    margin-bottom: 0px;
                }
            }
            h2{
                font-size: 3.8vw;
                margin-top: .25vh;
                letter-spacing: 1px;
            }
            .line-project-title{
                width: 75%;
                margin-top: 12px;

                &.line-sw{
                    margin-top: 2px;
                }
            }
            p{
                font-size: .7rem;
                padding-right: 15px;
            }
        }
    
        .project-images{
            margin-bottom: 1vh;
            padding-top: 2vh;
    
            .pr-image-box{
                width: 65vw;
                overflow: hidden;
                margin: 2.5vh 3.5vw;

                &.pr-portrait{
                    height: auto;
                    width: 27vw;
                }

                div{
                    img{
                        width: 100%;
                        transition: .5s cubic-bezier(0,.57,.45,1);
                        cursor: url('../img/cpoint.png'), auto;
                    }
                }
            }
        }
    }
}


@media (max-width: 325px) and (max-height: 570px){
    #skill{
        min-height: 100vh;
        height: 130vh;

        #skill-content{
            padding-top: 0;

            .skill-box{
                width: 20vw;
                margin: .5vh 1vw;
            }
        }
    }

    #work{
        
        #work-content{
        
            .work-box{
                
                .work-display{

                    .picture-box{

                        .show-project-btn{
                            width: 25vw;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    #footer{
        min-height: 500px;
        height: 70vh;

        #footer-grad-top{
            height: 42%;
        }

        #footer-grad-bottom{
            #socials{
                margin-bottom: 2vw;

                ul{
                    margin-right: 10vw;
                    li{
                        margin: 0 3.5%;

                        a{
                            img{
                                width: 12px;
                                transform: translateY(25%);
                            }
                            p{
                                transform: translateY(0%);
                                font-size: 7.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}