@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: 9px;
  scrollbar-color: #000875 transparent;
}

::-moz-selection {
  background: #fdfdfd;
  color: #090909;
}

::selection {
  background: #fdfdfd;
  color: #090909;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-thumb {
  background: #00076b;
  border-radius: 0px;
  cursor: url("../img/cpoint.png"), auto;
}

*::-webkit-scrollbar-thumb:hover {
  background: #00098d;
}

body {
  background: #090909;
  cursor: url("../img/cursor.png"), auto;
  overflow-x: hidden;
}

#cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #000875;
  border-radius: 50%;
  top: -11px;
  left: -12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 15;
}

#header {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  background: url(../img/overlay1.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 4vw;
}

#header #name-title {
  color: #fdfdfd;
  padding-left: 7vw;
  mix-blend-mode: difference;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header #name-title #header-title1 {
  font-weight: lighter;
  overflow-y: hidden;
  overflow-x: visible;
  width: 120%;
}

#header #name-title #header-title1 h1 {
  font-family: "Gilda Display";
  width: 100%;
}

#header #name-title #header-title1 h1 span {
  display: inline-block;
  font-size: 8.5vw;
  font-weight: lighter;
}

#header #name-title #header-title2 {
  margin-top: -3%;
  padding-left: .5%;
}

#header #name-title #header-title2 h3 {
  display: inline-block;
  color: #fdfdfd;
  font-weight: 300;
  font-family: "Oswald";
  width: 100%;
}

#header #name-title #header-title2 h3 span {
  font-size: 2.8vw;
  margin: 1px;
  font-weight: 300;
  display: inline-block;
}

#header #header-image #profile-box {
  width: 23vw;
  overflow: hidden;
  position: relative;
  left: -50%;
}

#header #header-image #profile-box #blue-block {
  width: 100%;
  height: 100%;
  background: #000875;
  position: absolute;
  top: 0;
  left: 0;
}

#header #header-image #profile-box #profile {
  width: 100%;
}

#header #scroll-down {
  width: 70px;
  height: 35px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

#header #scroll-down p {
  font-size: 15px;
  font-family: "Oswald";
  color: #fdfdfd;
  -webkit-animation: indicate 1s infinite ease-in-out;
          animation: indicate 1s infinite ease-in-out;
}

#header #scroll-down img {
  width: 80%;
  height: 90%;
  margin-top: -3px;
  -webkit-animation: scroll-in 1s infinite ease-in-out;
          animation: scroll-in 1s infinite ease-in-out;
}

@-webkit-keyframes indicate {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@keyframes indicate {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@-webkit-keyframes scroll-in {
  from {
    opacity: .5;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes scroll-in {
  from {
    opacity: .5;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

#header #header-gradient {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#090909));
  background: linear-gradient(to bottom, transparent 0%, #090909 100%);
}

#about {
  height: 170vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 2px;
  background: #090909;
}

#about #about--title {
  height: 100vh;
  width: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/overlay2.jpg);
  background-size: cover;
}

#about #about--title #about-title-grad {
  position: absolute;
  top: 0;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#090909), color-stop(30%, #09090980), to(transparent));
  background: linear-gradient(to bottom, #090909 0%, #09090980 30%, transparent 100%);
  width: 100%;
}

#about #about--title h2 {
  font-family: "bebas neue";
  color: #fdfdfd;
  font-size: 5vw;
  font-weight: lighter;
}

#about #about-content {
  width: 80%;
}

#about #about-content #about--img {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#about #about-content #about--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about #about-content #about--img #about-name {
  position: absolute;
  right: 9%;
  bottom: 7%;
  min-width: 29vw;
  max-height: 20vh;
  color: #fdfdfd;
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #000875;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
}

#about #about-content #about--img #about-name p {
  font-size: 2vw;
  font-family: "Oswald";
  mix-blend-mode: difference;
  font-weight: 200;
}

#about #about-content #about--img #about-name h2 {
  font-size: 6vw;
  font-family: "bebas neue";
  margin-top: -3.5%;
  font-weight: 400;
  mix-blend-mode: difference;
  z-index: 3;
}

#about #about-content #about--img #about--img-gradient-top {
  position: absolute;
  top: 0;
  height: 120px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#090909), to(transparent));
  background: linear-gradient(to bottom, #090909 0%, transparent 100%);
  z-index: 4;
}

#about #about-content #about--img #about--img-gradient-bottom {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#090909));
  background: linear-gradient(to bottom, transparent 0%, #090909 100%);
  z-index: 1;
}

#about #about-content #about-text {
  width: 90%;
  height: 100vh;
  color: #fdfdfd;
  position: relative;
  margin: 0 auto;
}

#about #about-content #about-text #about-text-content {
  width: 100%;
  height: 100%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

#about #about-content #about-text #about-text-content .about-box-reveal {
  width: 73%;
  margin: 0 auto;
  overflow: hidden;
}

#about #about-content #about-text #about-text-content .about-box-reveal p {
  font-family: "Oswald";
  font-size: 2vw;
  font-weight: lighter;
  z-index: 1;
  mix-blend-mode: difference;
}

#about #about-content #about-text #about-text-content .about-box-reveal h1 {
  font-family: "bebas neue";
  font-size: 8vw;
  z-index: 1;
  mix-blend-mode: difference;
  font-weight: 400;
}

#about #about-content #about-text #about-text-content .about-box-reveal h2 {
  font-family: "bebas neue";
  font-size: 4.7vw;
  z-index: 1;
  mix-blend-mode: difference;
  font-weight: 400;
}

#about #about-content #about-text #about-text-content .about-box-reveal p, #about #about-content #about-text #about-text-content .about-box-reveal h1, #about #about-content #about-text #about-text-content .about-box-reveal h2 {
  display: inline-block;
}

#about #about-content #about-text #about-text-content .about-box-reveal #about-txt-5 {
  mix-blend-mode: normal;
}

#about #about-content #about-text #about-text-content .about-box-reveal #about-txt-1, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-5, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-7 {
  margin-left: 4%;
}

#about #about-content #about-text #about-text-content .about-box-reveal #about-txt-2 {
  margin-left: 21%;
}

#about #about-content #about-text #about-text-content .about-box-reveal #about-txt-3 {
  margin-left: 57%;
}

#about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
  margin-left: 7%;
}

#about #about-content #about-text #about-text-content .about-box-reveal #about-txt-4, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
  margin-bottom: -3%;
  margin-top: -1%;
}

#about #about-content #about-text #about-txt-img1 {
  position: absolute;
  top: 15%;
  left: 3%;
  width: 15vw;
}

#about #about-content #about-text #about-txt-img2 {
  position: absolute;
  bottom: 0%;
  right: 10%;
  width: 15vw;
}

#skill {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 2px;
  background: #090909;
}

#skill #skill-title {
  width: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/overlay2.jpg);
  background-size: cover;
}

#skill #skill-title h2 {
  font-family: "bebas neue";
  color: #fdfdfd;
  font-size: 5vw;
  font-weight: lighter;
}

#skill #skill-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 100px 60px 100px;
  position: relative;
}

#skill #skill-content .skill-box {
  width: 12vw;
  height: 150px;
  margin: 1vh 1vw;
  color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-filter: saturate(0) contrast(1.7);
          filter: saturate(0) contrast(1.7);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#skill #skill-content .skill-box.no-contrast {
  -webkit-filter: saturate(0) contrast(1) brightness(2);
          filter: saturate(0) contrast(1) brightness(2);
}

#skill #skill-content .skill-box img {
  -webkit-transition: 0.5s cubic-bezier(0.2, 0.01, 0, 0.99);
  transition: 0.5s cubic-bezier(0.2, 0.01, 0, 0.99);
  width: 40%;
}

#skill #skill-content .skill-box p {
  font-family: "Oswald";
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 20px;
}

#skill #skill-content .skill-box span {
  font-family: "Oswald";
  font-size: 1.2vw;
  font-weight: 200;
}

#skill #skill-content .skill-box:hover {
  -webkit-filter: saturate(0.85) contrast(1);
          filter: saturate(0.85) contrast(1);
}

#skill #skill-content .skill-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#work {
  width: 100vw;
  height: 250vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #090909;
}

#work #work-title {
  width: 20%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/overlay2.jpg);
  background-size: cover;
}

#work #work-title h2 {
  font-family: "bebas neue";
  color: #fdfdfd;
  font-size: 5vw;
  font-weight: lighter;
}

#work #work-content {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work #work-content .work-box {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work #work-content .work-box .work-display {
  width: 75%;
  height: 90%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

#work #work-content .work-box .work-display .picture-box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2%;
  cursor: url("../img/cpoint.png"), auto;
}

#work #work-content .work-box .work-display .picture-box picture img {
  width: 100%;
  -webkit-transition: 1s cubic-bezier(0, 0.57, 0.45, 1);
  transition: 1s cubic-bezier(0, 0.57, 0.45, 1);
}

#work #work-content .work-box .work-display .picture-box:hover picture img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#work #work-content .work-box .work-display .block-white-line {
  width: 65%;
  height: 2px;
  background: #fdfdfd;
}

#work #work-content .work-box .work-display h3 {
  font-family: "Oswald";
  font-weight: bolder;
  font-size: 2.7vw;
  color: #fdfdfd;
}

#work #work-content .work-box .work-display p {
  font-family: "Oswald";
  font-size: 1.7vw;
  font-weight: normal;
  color: #fdfdfd;
}

#work #work-content #work-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50vh;
}

#work #work-content #work-other h3 {
  font-family: "Oswald";
  color: #fdfdfd;
  font-size: 1.5vw;
  font-weight: lighter;
}

#footer {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#footer #footer-grad-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#090909), to(transparent));
  background: linear-gradient(to bottom, #090909 0%, transparent 100%);
  z-index: 4;
}

#footer picture img {
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}

#footer #footer-grad-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35%;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #090909), to(transparent));
  background: linear-gradient(to top, #090909 30%, transparent 100%);
  z-index: 4;
}

#footer #footer-grad-bottom #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  overflow: hidden;
}

#footer #footer-grad-bottom #socials h3 {
  color: #fdfdfd;
  font-family: "Gilda Display";
  font-style: italic;
  font-weight: lighter;
  padding-left: 5vw;
  display: inline-block;
}

#footer #footer-grad-bottom #socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  font-family: "Oswald";
  margin-right: 5.5vw;
}

#footer #footer-grad-bottom #socials ul li {
  max-width: 60px;
  -webkit-filter: saturate(0) brightness(3);
          filter: saturate(0) brightness(3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 0 5px;
  text-align: center;
}

#footer #footer-grad-bottom #socials ul li a {
  text-decoration: none;
  display: inline-block;
  overflow-y: hidden;
  cursor: url("../img/cpoint.png"), auto;
}

#footer #footer-grad-bottom #socials ul li a img {
  width: 27px;
  margin: auto auto;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition: 0.5s cubic-bezier(0, 0.57, 0.45, 1);
  transition: 0.5s cubic-bezier(0, 0.57, 0.45, 1);
}

#footer #footer-grad-bottom #socials ul li a p {
  color: #fdfdfd;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s cubic-bezier(0, 0.57, 0.45, 1);
  transition: 0.5s cubic-bezier(0, 0.57, 0.45, 1);
}

#footer #footer-grad-bottom #socials ul li:hover {
  -webkit-filter: saturate(1) brightness(1);
          filter: saturate(1) brightness(1);
}

#footer #footer-grad-bottom #socials ul li:hover img, #footer #footer-grad-bottom #socials ul li:hover p {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.line {
  width: 100vw;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(45%, #000875), color-stop(55%, #000875), to(transparent));
  background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.line.line-1 {
  top: 10vh;
}

.line.line-2 {
  bottom: 10vh;
}

.line.line-3 {
  width: 90%;
  top: 8%;
}

.line.line-4 {
  width: 90%;
  bottom: 2%;
}

.line.line-6 {
  width: 90%;
  bottom: 4%;
}

.line.line-5, .line.line-6 {
  width: 90%;
  bottom: 0%;
}

.line.line-7 {
  width: 90%;
  top: 0%;
}

.line.line-8 {
  width: 95%;
  top: 0%;
}

.white-line {
  height: 100%;
  width: 2px;
  position: absolute;
  right: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(45%, #fdfdfd), color-stop(55%, #fdfdfd), to(transparent));
  background: linear-gradient(to bottom, transparent 0%, #fdfdfd 45%, #fdfdfd 55%, transparent 100%);
}

#hm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #090909;
  display: none;
  z-index: 20;
}

#hm #hmp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: lighter;
  color: #fdfdfd;
  letter-spacing: 1px;
}

.show-project {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #090909;
  border: 1px solid #000875;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1.2s cubic-bezier(0.32, 0.32, 0, 1);
  transition: 1.2s cubic-bezier(0.32, 0.32, 0, 1);
}

.show-project .work-close {
  position: absolute;
  top: 6vh;
  right: 4vw;
  width: 3vw;
  height: 7vh;
  opacity: .5;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.show-project .work-close .fullimg-close-part {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 2px;
  width: 90%;
  background: #fdfdfd;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.show-project .work-close .fullimg-close-part.cpart1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-project .work-close .fullimg-close-part.cpart2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.show-project .work-close:hover {
  opacity: 1 !important;
  cursor: url("../img/cpoint.png"), auto;
}

.show-project .project-title-box {
  width: 70%;
  color: #fdfdfd;
  margin: 6vh auto;
}

.show-project .project-title-box .work-title.work-title-h1, .show-project .project-title-box .work-title.work-title-h2 {
  overflow-y: hidden;
}

.show-project .project-title-box .work-link {
  background-color: #000875;
  border: 1px solid #000875;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.2s cubic-bezier(0, 0.57, 0.45, 1);
  transition: 0.2s cubic-bezier(0, 0.57, 0.45, 1);
}

.show-project .project-title-box .work-link:hover {
  background-color: transparent;
}

.show-project .project-title-box .work-link a {
  color: #fdfdfd;
  text-decoration: none;
  font-family: "Oswald";
  font-size: 1.1rem;
  letter-spacing: 1.75px;
  cursor: url("../img/cpoint.png"), auto;
}

.show-project .project-title-box h1, .show-project .project-title-box h2 {
  font-family: "bebas neue";
  font-weight: lighter;
  letter-spacing: 1px;
}

.show-project .project-title-box h1 {
  font-size: 3.5vw;
}

.show-project .project-title-box h1.work-sw {
  font-size: 5vw;
  margin-bottom: -15px;
}

.show-project .project-title-box h2 {
  font-size: 2.5vw;
}

.show-project .project-title-box .line-project-title {
  width: 70%;
  height: 1px;
  background: #fdfdfd;
  margin-top: 10px;
}

.show-project .project-title-box p {
  font-family: oswald;
  font-weight: 500;
  margin-top: 13px;
  letter-spacing: 1.8px;
  font-size: 1.1rem;
}

.show-project .project-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 9vw;
  margin-top: 0;
  margin-bottom: 4vh;
  padding-top: 3vh;
}

.show-project .project-images .pr-image-box {
  width: 33vw;
  height: calc($width-box*9/16);
  overflow: hidden;
  margin: 3.5vh 3.5vw;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.show-project .project-images .pr-image-box.pr-portrait {
  height: auto;
  width: 15vw;
}

.show-project .project-images .pr-image-box div img {
  width: 100%;
  background-size: cover;
}

#preloader-blue, #preloader-black {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: none !important;
}

#preloader-blue {
  background: #000875;
  z-index: 1998;
}

#preloader-black {
  background: #090909;
  z-index: 1999;
}

@media (min-width: 1440px) {
  #skill #skill-content .skill-box {
    width: 14vw;
  }
  #skill #skill-content .skill-box img {
    width: 5.5vw;
  }
  #skill #skill-content .skill-box p {
    font-size: 2vw;
  }
  #skill #skill-content .skill-box span {
    font-size: 1.5vw;
  }
}

@media (max-device-width: 1024px) and (orientation: portrait) {
  #header {
    height: 50vh;
  }
  #header #scroll-down p {
    font-size: 15px;
  }
  #header #scroll-down img {
    width: 80%;
    height: 90%;
  }
  #about {
    height: 85vh;
  }
  #about #about--title {
    width: 10%;
    height: 100%;
  }
  #about #about--title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #about #about-content {
    width: 90%;
  }
  #about #about-content #about--img {
    height: 40vh;
  }
  #about #about-content #about--img #about-name p {
    font-size: 2.5vw;
  }
  #about #about-content #about--img #about-name h2 {
    font-size: 7vw;
    margin-top: -3%;
  }
  #about #about-content #about-text {
    height: 45vh;
    padding-top: 10px;
  }
  #about #about-content #about-text #about-text-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal {
    margin-top: 4px;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal p {
    font-size: 3.1vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal h1 {
    font-size: 8.3vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal h2 {
    font-size: 5vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-1, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-5, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-7 {
    margin-left: 8%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-2 {
    margin-left: 25%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-3 {
    margin-left: 50%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-4 {
    margin-left: 8%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
    margin-left: 11%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-4, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
    margin-bottom: -3%;
  }
  #about #about-content #about-text #about-txt-img1 {
    width: 15vw;
    left: 4%;
    top: 30%;
  }
  #about #about-content #about-text #about-txt-img2 {
    bottom: 5%;
    right: 10%;
    width: 15vw;
  }
  #skill {
    min-height: 70vh;
  }
  #skill #skill-title {
    width: 10%;
  }
  #skill #skill-title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #skill #skill-content {
    width: 90%;
    padding: 20px 25px 60px 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skill #skill-content .skill-box {
    width: 15vw;
    height: 12vh;
    margin: 1vw 2vw;
  }
  #skill #skill-content .skill-box img {
    width: 50%;
  }
  #skill #skill-content .skill-box p {
    font-size: 2.3vw;
    margin-top: 10px;
  }
  #skill #skill-content .skill-box span {
    margin-top: 2.5px;
  }
  #work {
    height: 100vh;
  }
  #work #work-title {
    width: 10%;
  }
  #work #work-title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #work #work-content {
    width: 90%;
  }
  #work #work-content .work-box {
    height: 70%;
  }
  #work #work-content .work-box .work-display {
    width: 80%;
  }
  #work #work-content #work-other {
    height: 30%;
  }
  #work #work-content #work-other h3 {
    font-size: 2.5vw;
    letter-spacing: 1px;
  }
  #footer {
    height: 50vh;
  }
  #footer #footer-grad-bottom #socials {
    height: 75px;
  }
  #footer #footer-grad-bottom #socials h3 {
    font-size: 25px;
  }
  #footer #footer-grad-bottom #socials ul {
    margin-right: 3.5vw;
  }
  #footer #footer-grad-bottom #socials ul li {
    min-width: 30px;
    margin: 0 1.1vw;
    text-align: center;
  }
  #footer #footer-grad-bottom #socials ul li a img {
    width: 20px;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  #footer #footer-grad-bottom #socials ul li a p {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    font-size: 15px;
  }
  .work-close {
    height: 2vh !important;
    width: 5vw !important;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  #about #about--title {
    height: 100%;
  }
  #about #about-content #about-text {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  #about #about-content #about-text #about-text-content {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal {
    width: 100%;
  }
  #skill-content {
    width: 80%;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  #skill-content .skill-box {
    width: 15vw !important;
  }
  #work #work-title {
    height: 100%;
  }
}

@media (max-width: 450px) {
  #cursor {
    display: none;
  }
  * {
    scrollbar-width: 4px;
  }
  *::-webkit-scrollbar {
    width: 4px;
  }
  #header {
    height: 90vh;
    min-height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 0vw;
  }
  #header #name-title {
    max-width: 90%;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  #header #name-title #header-title1 {
    width: 100%;
  }
  #header #name-title #header-title1 h1 span {
    font-size: 8vw;
  }
  #header #name-title #header-title2 {
    margin-top: .5%;
    padding-left: 0;
  }
  #header #name-title #header-title2 h3 span {
    font-size: 5.5vw;
    margin: 0px;
  }
  #header #header-image #profile-box {
    width: 55vw;
    overflow: hidden;
    left: 0%;
    top: 17.5%;
  }
  #header #scroll-down p {
    font-size: 11px;
  }
  #header #scroll-down img {
    width: 60%;
    height: 70%;
  }
  #about {
    height: 90vh;
    min-height: 600px;
  }
  #about #about--title {
    width: 10%;
    height: 100%;
  }
  #about #about--title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #about #about-content {
    width: 90%;
  }
  #about #about-content #about--img {
    height: 40vh;
    min-height: 300px;
  }
  #about #about-content #about--img #about-name p {
    font-size: 3vw;
  }
  #about #about-content #about--img #about-name h2 {
    font-size: 8vw;
    margin-top: -3%;
  }
  #about #about-content #about-text {
    height: 50vh;
    min-height: 300px;
  }
  #about #about-content #about-text #about-text-content {
    width: 100%;
    margin-top: 0%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal {
    width: 100%;
    margin-top: 0px;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal p {
    font-size: 4vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal h1 {
    font-size: 10vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal h2 {
    font-size: 6vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-1,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-2,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-3,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-4,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-5,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-7,
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
    margin-left: 4%;
    margin-top: 0%;
  }
  #about #about-content #about-text #about-txt-img1 {
    display: none;
  }
  #about #about-content #about-text #about-txt-img2 {
    bottom: 0%;
    right: 7%;
    width: 28vw;
  }
  #skill {
    min-height: 550px;
    height: 65vh;
  }
  #skill #skill-title {
    width: 10%;
  }
  #skill #skill-title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #skill #skill-content {
    width: 90%;
    padding: 10px 25px 30px 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skill #skill-content .skill-box {
    width: 19vw;
    margin: 1vh 1.3vw;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #skill #skill-content .skill-box img {
    width: 45%;
  }
  #skill #skill-content .skill-box p {
    font-size: 2.5vw;
    margin-top: 10px;
  }
  #skill #skill-content .skill-box span {
    font-size: 2.2vw;
    margin-top: 2.5px;
  }
  #work {
    min-height: 600px;
    height: 120vh;
  }
  #work #work-title {
    width: 10%;
  }
  #work #work-title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #work #work-content {
    width: 90%;
  }
  #work #work-content .work-box {
    height: 100%;
  }
  #work #work-content .work-box .work-display {
    width: 80%;
    padding: 3%;
  }
  #work #work-content .work-box .work-display .picture-box {
    width: 100%;
  }
  #work #work-content .work-box .work-display .block-white-line {
    height: .5px;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 90%;
  }
  #work #work-content .work-box .work-display h3, #work #work-content .work-box .work-display p {
    margin-top: 1%;
    letter-spacing: 1px;
  }
  #work #work-content .work-box .work-display h3 {
    font-size: 4.5vw;
  }
  #work #work-content .work-box .work-display p {
    font-size: 3vw;
  }
  #work #work-content #work-other {
    height: 30%;
  }
  #work #work-content #work-other h3 {
    font-size: 3vw;
    letter-spacing: 1px;
  }
  #footer {
    min-height: 500px;
    height: 70vh;
  }
  #footer #footer-grad-top {
    height: 42%;
  }
  #footer #footer-grad-bottom #socials {
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  #footer #footer-grad-bottom #socials h3 {
    font-size: 13px;
    padding-top: 2%;
  }
  #footer #footer-grad-bottom #socials ul {
    margin-right: 5vw;
  }
  #footer #footer-grad-bottom #socials ul li {
    margin: 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer #footer-grad-bottom #socials ul li a img {
    width: 12px;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  #footer #footer-grad-bottom #socials ul li a p {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    font-size: 7.5px;
  }
  #hm {
    text-align: center;
  }
  #hm #hmp {
    width: 90vw;
    font-size: 9px;
  }
  .white-line {
    width: 1.5px;
  }
  .show-project .work-close {
    top: 5.5vh;
    right: 5.5vw;
    width: 7vw;
    height: 30px;
    opacity: .9;
  }
  .show-project .work-close .fullimg-close-part {
    height: 1px;
  }
  .show-project .work-close .fullimg-close-part.cpart1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .show-project .work-close .fullimg-close-part.cpart2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .show-project .project-title-box {
    width: 80%;
    margin-bottom: 23px;
  }
  .show-project .project-title-box .work-link {
    margin-top: 10px;
    width: 72px;
    height: 32px;
  }
  .show-project .project-title-box .work-link a {
    font-size: .8rem;
  }
  .show-project .project-title-box h1 {
    font-size: 5vw;
    letter-spacing: 1px;
  }
  .show-project .project-title-box h1.work-sw {
    font-size: 8vw;
    margin-bottom: 0px;
  }
  .show-project .project-title-box h2 {
    font-size: 3.8vw;
    margin-top: .25vh;
    letter-spacing: 1px;
  }
  .show-project .project-title-box .line-project-title {
    width: 75%;
    margin-top: 12px;
  }
  .show-project .project-title-box .line-project-title.line-sw {
    margin-top: 2px;
  }
  .show-project .project-title-box p {
    font-size: .7rem;
    padding-right: 15px;
  }
  .show-project .project-images {
    margin-bottom: 1vh;
    padding-top: 2vh;
  }
  .show-project .project-images .pr-image-box {
    width: 65vw;
    overflow: hidden;
    margin: 2.5vh 3.5vw;
  }
  .show-project .project-images .pr-image-box.pr-portrait {
    height: auto;
    width: 27vw;
  }
  .show-project .project-images .pr-image-box div img {
    width: 100%;
    -webkit-transition: 0.5s cubic-bezier(0, 0.57, 0.45, 1);
    transition: 0.5s cubic-bezier(0, 0.57, 0.45, 1);
    cursor: url("../img/cpoint.png"), auto;
  }
}
/*# sourceMappingURL=style.css.map */