@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

$dark : #090909;
$light : #fdfdfd;
$cold : #000875;

$name : 'Gilda Display';
$heading : 'bebas neue';
$text : 'Oswald';

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: 9px;
    scrollbar-color: $cold transparent;
}

::selection{
    background: $light;
    color: $dark;
}

*::-webkit-scrollbar{
    width: 9px;
}
*::-webkit-scrollbar-thumb{
    background: #00076b;
    border-radius: 0px;
    cursor: url('../img/cpoint.png'), auto;
    &:hover{
        background: #00098d;
    }
}

body{
    background: $dark;
    cursor: url('../img/cursor.png'), auto;
    overflow-x: hidden;
}

#cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid $cold;
    border-radius: 50%;
    top: -11px;
    left: -12px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 15;
}

#header{
    position: relative;
    height: 100vh;
    max-width: 100vw;
    background: url(../img/overlay1.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-left: 4vw;

    #name-title{
        color: $light;
        padding-left: 7vw;
        mix-blend-mode: difference;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        
        #header-title1{
            font-weight: lighter;
            overflow-y: hidden;
            overflow-x: visible;
            width: 120%;
        
            h1{
                font-family: $name;
                width: 100%;

                span{
                    display: inline-block;
                    font-size: 8.5vw;
                    font-weight: lighter;
                }
            }
        }
        #header-title2{
            margin-top: -3%;
            padding-left: .5%;

            h3{
                display: inline-block;
                color: $light;
                font-weight: 300;
                font-family: $text;
                width: 100%;

                span{
                    font-size: 2.8vw;
                    margin: 1px;
                    font-weight: 300;
                    display: inline-block;
                }
            }
        }
    }
    #header-image{
        #profile-box{
            width: 23vw;
            overflow: hidden;
            position: relative;
            left: -50%;

            #blue-block{
                width: 100%;
                height: 100%;
                background: $cold;
                position: absolute;
                top: 0;
                left: 0;
            }

            #profile{
                width: 100%;
            }
        }
    }

    #scroll-down{
        width: 70px;
        height: 35px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 5;

        p{
            font-size: 15px;
            font-family: $text;
            color: $light;
            animation: indicate 1s infinite ease-in-out;
        }
        
        img{
            width: 80%;
            height: 90%;
            margin-top: -3px;
            animation: scroll-in 1s infinite ease-in-out;
        }

        @keyframes indicate {
            0%{
                opacity: .5;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: .5;
            }
        }


        @keyframes scroll-in {
            from{
                opacity: .5;
                transform: translateY(0%);
            }
            to{
                opacity: 1;
                transform: translateY(50%);
            }
        }
    }

    #header-gradient{
        position: absolute;
        bottom: 0;
        height: 90px;
        width: 100%;
        background: linear-gradient(to bottom, transparent 0%, #090909 100%);
    }
}

#about{
    height: 170vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
    background: $dark;

    #about--title{
        height: 100vh;
        width: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../img/overlay2.jpg);
        background-size: cover;

        #about-title-grad{
            position: absolute;
            top: 0;
            height: 100px;
            background: linear-gradient(to bottom, #090909 0%,#09090980 30%, transparent 100%);
            width: 100%;
        }
        
        h2{
            font-family: $heading;
            color: $light;
            font-size: 5vw;
            font-weight: lighter;
        }

    }

    #about-content{
        width: 80%;

        #about--img{
            height: 70vh;
            width: 100%;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            #about-name{
                position: absolute;
                right: 9%;
                bottom: 7%;
                min-width: 29vw;
                max-height: 20vh;
                color: $light;
                z-index: 2;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 5px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                background: hsla(0, 0%, 0%, 0.2);
                border-bottom: 3px solid $cold;
                overflow: hidden;
                backdrop-filter: blur(5px);
                -moz-backdrop-filter: blur(5px);
                -ms-backdrop-filter: blur(5px);
                -o-backdrop-filter: blur(5px);

                p{
                    font-size: 2vw;
                    font-family: $text;
                    mix-blend-mode: difference;
                    font-weight: 200;
                }
            
                h2{
                    font-size: 6vw;
                    font-family: $heading;
                    margin-top: -3.5%;
                    font-weight: 400;
                    mix-blend-mode: difference;
                    z-index: 3;
                }
            }
            
            #about--img-gradient-top{
                position: absolute;
                top: 0;
                height: 120px;
                width: 100%;
                background: linear-gradient(to bottom, #090909 0%, transparent 100%);
                z-index: 4;
            }
            #about--img-gradient-bottom{
                position: absolute;
                bottom: 0;
                height: 120px;
                width: 100%;
                background: linear-gradient(to bottom, transparent 0%, $dark 100%);
                z-index: 1;
            }
        }

        #about-text{
            width: 90%;
            height: 100vh;
            color: $light;
            position: relative;
            margin: 0 auto;

            #about-text-content{
                width: 100%;
                height: 100%;
                margin: auto 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 2;

                .about-box-reveal{
                    width: 73%;
                    margin: 0 auto;
                    overflow: hidden;

                    p{
                        font-family: $text;
                        font-size: 2vw;
                        font-weight: lighter;
                        z-index: 1;
                        mix-blend-mode: difference;
                    }
                    h1{
                        font-family: $heading;
                        font-size: 8vw;
                        z-index: 1;
                        mix-blend-mode: difference;
                        font-weight: 400;
                    }
                    h2{
                        font-family: $heading;
                        font-size: 4.7vw;
                        z-index: 1;
                        mix-blend-mode: difference;
                        font-weight: 400;
                    }
    
                    p, h1, h2{
                        display: inline-block;
                    }
                    
                    #about-txt-5{
                        mix-blend-mode: normal;
                    }

                    #about-txt-1, #about-txt-5, #about-txt-7{
                        margin-left: 4%;
                    }
                    #about-txt-2{
                        margin-left: 21%;
                    }
                    #about-txt-3{
                        margin-left: 57%;
                    }
    
                    #about-txt-6,#about-txt-8{
                        margin-left: 7%;
                    }
    
                    #about-txt-4, #about-txt-6,#about-txt-8{
                        margin-bottom: -3%;
                        margin-top: -1%;
                    }
                }
            }
            
            #about-txt-img1{
                position: absolute;
                top: 15%;
                left: 3%;
                width: 15vw;
            }

            #about-txt-img2{
                position: absolute;
                bottom: 0%;
                right: 10%;
                width: 15vw;
            }
        }
    }
}

#skill{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
    background: $dark;

    #skill-title{
        width: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../img/overlay2.jpg);
        background-size: cover;
        
        h2{
            font-family: $heading;
            color: $light;
            font-size: 5vw;
            font-weight: lighter;
        }

    }

    #skill-content{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px 100px 60px 100px;
        position: relative;

        .skill-box{
            width: 12vw;
            height: 150px;
            margin: 1vh 1vw;
            color: $light;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            filter: saturate(0) contrast(1.7);
            transition: .5s ease-in-out;

            &.no-contrast{
                filter: saturate(0) contrast(1) brightness(2);    
            }

            img{
                transition: .5s cubic-bezier(.2,.01,0,.99);
                width: 40%;
            }
            
            p{
                font-family: $text;
                font-size: 1.5vw;
                font-weight: 600;
                margin-top: 20px;
            }
            span{
                font-family: $text;
                font-size: 1.2vw;
                font-weight: 200;
            }

            &:hover{
                filter: saturate(.85) contrast(1);
    
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
}

#work{
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: row;
    background: $dark;

    #work-title{
        width: 20%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../img/overlay2.jpg);
        background-size: cover;
        
        h2{
            font-family: $heading;
            color: $light;
            font-size: 5vw;
            font-weight: lighter;
        }
    }

    #work-content{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .work-box{
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;

            .work-display{
                width: 75%;
                height: 90%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                margin: 0 auto;

                .picture-box{
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 2%;
                    cursor: url('../img/cpoint.png'), auto;
                
                    picture{
                        img{
                            width: 100%;
                            transition: 1s cubic-bezier(0,.57,.45,1);
                        }
                    }

                    &:hover{
                        picture{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            
                .block-white-line{
                    width: 65%;
                    height: 2px;
                    background: $light;
                }
                
                h3{
                    font-family: $text;
                    font-weight: bolder;
                    font-size: 2.7vw;
                    color: $light;
                }
                    
                p{
                    font-family: $text;
                    font-size: 1.7vw;
                    font-weight: normal;
                    color: $light;
                }
            }
            
        }

        #work-other{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50vh;

            h3{
                font-family: $text;
                color: $light;
                font-size: 1.5vw;
                font-weight: lighter;
            }
        }
    }
}

#footer{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    #footer-grad-top{
        position: absolute;
        top: 0;
        left: 0;
        height: 30%;
        width: 100%;
        background: linear-gradient(to bottom, $dark 0%, transparent 100%);
        z-index: 4;
    }

    picture{
        img{
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            transition: .8s ease-out;
        }
    }

    #footer-grad-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 35%;
        width: 100vw;
        background: linear-gradient(to top, $dark 30%, transparent 100%);
        z-index: 4;
    
        #socials{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100vw;
            height: 12vh;
            overflow: hidden;

            h3{
                color: $light;
                font-family: $name;
                font-style: italic;
                font-weight: lighter;
                padding-left: 5vw;
                display: inline-block;
            }
            
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                font-family: $text;
                margin-right: 5.5vw;

                li{
                    max-width: 60px;
                    filter: saturate(0) brightness(3);
                    transition: .3s ease-in-out;
                    margin: 0 5px;
                    text-align: center;

                    a{
                        text-decoration: none;
                        display: inline-block;  
                        overflow-y: hidden;
                        cursor: url('../img/cpoint.png'), auto;

                        img{
                            width: 27px;
                            margin: auto auto;
                            transform: translateY(60%);
                            transition: .5s cubic-bezier(0,.57,.45,1);
                        }
                        p{
                            color: $light;
                            transform: translateY(100%);
                            transition: .5s cubic-bezier(0,.57,.45,1);
                        }
                    }
                    &:hover{
                        filter: saturate(1) brightness(1);

                        img, p{
                            transform: translateY(0%);
                        }
                    }
                }
            }
        }
    }
}

.line{
    width: 100vw;
    height: 2px;
    background: linear-gradient(to right, transparent 0%, $cold 45%, $cold 55%,  transparent 100%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    &.line-1{
        top: 10vh;
    }
    &.line-2{
        bottom: 10vh;
    }
    &.line-3{
        width: 90%;
        top: 8%;
    }
    &.line-4{
        width: 90%;
        bottom: 2%;
    }
    &.line-6{
        width: 90%;
        bottom: 4%;
    }
    &.line-5, &.line-6{
        width: 90%;
        bottom: 0%;
    }
    &.line-7{
        width: 90%;
        top: 0%;
    }
    &.line-8{
        width: 95%;
        top: 0%;
    }
}


.white-line{
    height: 100%;
    width: 2px;
    position: absolute;
    right: 0px;
    background: linear-gradient(to bottom, transparent 0%, $light 45%, $light 55%,  transparent 100%);
}

#hm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $dark;
    display: none;
    z-index: 20;

    #hmp{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Oswald';
        font-size: 18px;
        font-weight: lighter;
        color: $light;
        letter-spacing: 1px;
    }
}

.show-project{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y:scroll;
    overflow-x: hidden;
    background: $dark;
    border: 1px solid $cold;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 1.2s cubic-bezier(.32,.32,0,1);

    .work-close{
        position: absolute;
        top: 6vh;
        right: 4vw;
        width: 3vw;
        height: 7vh;
        opacity: .5;
        transition: .2s ease-in;
        
        .fullimg-close-part{
            position: absolute;
            top: 50%;
            left: 5%;
            height: 2px;
            width: 90%;
            background: $light;
            transform-origin: center;

            &.cpart1{
                transform: rotate(45deg);
            }

            &.cpart2{
                transform: rotate(-45deg);
            }
        }

        &:hover{
            opacity: 1 !important;
            cursor: url('../img/cpoint.png'), auto;
        }
    }

    .project-title-box{
        width: 70%;
        color: $light;
        margin: 6vh auto;

        .work-title{
            &.work-title-h1, 
            &.work-title-h2{
                overflow-y: hidden;
            }
        }

        .work-link{
            background-color: $cold;
            border: 1px solid $cold;
            margin-top: 10px;
            width: 80px;
            height: 40px;
            display: grid;
            place-items: center;
            transition: .2s cubic-bezier(0,.57,.45,1);

            &:hover{
                background-color: transparent;
            }

            a{
                color: $light;
                text-decoration: none;
                font-family: $text;
                font-size: 1.1rem;
                letter-spacing: 1.75px;
                cursor: url('../img/cpoint.png'), auto;
            }
        }

        h1, h2{
            font-family: $heading;
            font-weight:lighter;
            letter-spacing: 1px;
        }
        h1{
            font-size: 3.5vw;
            
            &.work-sw{
                font-size: 5vw;
                margin-bottom: -15px;
            }
        }
        h2{
            font-size: 2.5vw;
        }
        .line-project-title{
            width: 70%;
            height: 1px;
            background: $light;
            margin-top: 10px;
        }
        p{
            font-family: oswald;
            font-weight: 500;
            margin-top: 13px;
            letter-spacing: 1.8px;
            font-size: 1.1rem;
        }
    }

    .project-images{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        margin: 9vw;
        margin-top: 0;
        margin-bottom: 4vh;
        padding-top: 3vh;

        .pr-image-box{
            $width-box: 33vw;
            width: $width-box;
            height: calc($width-box*9/16);
            overflow: hidden;
            margin: 3.5vh 3.5vw;
            clip-path: inset(0 0 0 0);

            &.pr-portrait{
                height: auto;
                width: 15vw;
            }
            
            div{
                img{
                    width: 100%;
                    background-size: cover;
                }
            }
        }
    }
}

#preloader-blue, #preloader-black{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: none !important;
}
#preloader-blue{
    background: $cold;
    z-index: 1998;
}
#preloader-black{
    background: $dark;
    z-index: 1999;
}

@media (min-width: 1440px) {
    #skill{
        #skill-content{
            .skill-box{
                width: 14vw;

                img{
                    width: 5.5vw;
                }

                p{
                    font-size: 2vw;
                }

                span{
                    font-size: 1.5vw;
                }
            }
        }
    }
}

@media (max-device-width: 1024px) and (orientation: portrait) {
    #header{
        height: 50vh;

        #scroll-down{
            p{
                font-size: 15px;
            }
            img{
                width: 80%;
                height: 90%;
            }
        }
    }

    #about{
        height: 85vh;

        #about--title{
            width: 10%;
            height: 100%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #about-content{
            width: 90%;

            #about--img{
                height: 40vh;

                #about-name{
                    p{
                        font-size: 2.5vw;
                    }
                    h2{
                        font-size: 7vw;
                        margin-top: -3%;
                    }
                }
            }

            #about-text{
                height: 45vh;
                padding-top: 10px;

                #about-text-content{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    .about-box-reveal{
                        margin-top: 4px;

                        p{
                            font-size: 3.1vw;
                        }
                        h1{
                            font-size: 8.3vw;
                        }
                        h2{
                            font-size: 5vw;
                        }

                        #about-txt-1, #about-txt-5, #about-txt-7{
                            margin-left: 8%;
                        }
                        #about-txt-2{
                            margin-left: 25%;
                        }
                        #about-txt-3{
                            margin-left: 50%;
                        }

                        #about-txt-4{
                            margin-left: 8%;
                        }
        
                        #about-txt-6,#about-txt-8{
                            margin-left: 11%;
                        }
        
                        #about-txt-4, #about-txt-6,#about-txt-8{
                            margin-bottom: -3%;
                        }
                    }
                }

                #about-txt-img1{
                    width: 15vw;
                    left: 4%;
                    top: 30%;
                }

                #about-txt-img2{
                    bottom: 5%;
                    right: 10%;
                    width: 15vw;
                }
            }
        }
    }

    #skill{
        min-height: 70vh;

        #skill-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #skill-content{
            width: 90%;
            padding: 20px 25px 60px 25px;
            align-items: center;

            .skill-box{
                width: 15vw;
                height: 12vh;
                margin: 1vw 2vw;

                img{
                    width: 50%;
                }

                p{
                    font-size: 2.3vw;
                    margin-top: 10px;
                }

                span{
                    margin-top: 2.5px;
                }

            }
        }
    }

    #work{
        height: 100vh;

        #work-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #work-content{
            width: 90%;

            .work-box{
                height: 70%;
                
                .work-display{
                    width: 80%;
                }
            }

            #work-other{
                height: 30%;

                h3{
                    font-size: 2.5vw;
                    letter-spacing: 1px;
                }
            }
        }
    }

    #footer{
        height: 50vh;

        #footer-grad-bottom{
            #socials{
                height: 75px;
                h3{
                    font-size: 25px;
                }
                ul{
                    margin-right: 3.5vw;
                    li{
                        min-width: 30px;
                        margin: 0 1.1vw;
                        text-align: center;
                        a{
                            img{
                                width: 20px;
                                transform: translateY(25%);
                            }
                            p{
                                transform: translateY(0%);
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

        .work-close{
            height: 2vh !important;
            width: 5vw !important;
        }
    
}

@media (max-width: 1024px) and (orientation: landscape) {
    #about{
        #about--title{
            height: 100%;
        }

        #about-content{
            #about-text{
                display: grid;
                place-items: center;
                #about-text-content{
                    width: 80%;
                    align-items: center;
                    
                    .about-box-reveal{
                        width: 100%;
                    }
                }
            }
        }
    }

    #skill-content{
        width: 80%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        .skill-box{
            width: 15vw !important;
        }
    }

    #work{
        #work-title{
            height: 100%;
        }
    }
}

@media (max-width: 450px){
    #cursor{
        display: none;
    }

    *{
        scrollbar-width: 4px;
    }

    *::-webkit-scrollbar{
        width: 4px;
    }

    #header{
        height: 90vh;
        min-height: 600px;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 0vw;
        
        #name-title{
            max-width: 90%;
            padding-left: 0;
            align-items: center;
            flex-direction: column;
            padding-top: 50px;

            #header-title1{
                width: 100%;
                h1{
                    span{
                        font-size: 8vw;
                    }
                }
            }
            #header-title2{
                margin-top: .5%;
                padding-left: 0;

                h3{
                    span{
                        font-size: 5.5vw;
                        margin: 0px;
                    }
                }
            }
        }
        #header-image{
            #profile-box{
                width: 55vw;
                overflow: hidden;
                left: 0%;
                top: 17.5%;
            }
        }

        #scroll-down{
            p{
                font-size: 11px;
            }
            img{
                width: 60%;
                height: 70%;
            }
        }
    }

    #about{
        height: 90vh;
        min-height: 600px;

        #about--title{
            width: 10%;
            height: 100%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #about-content{
            width: 90%;

            #about--img{
                height: 40vh;
                min-height: 300px;

                #about-name{
                    p{
                        font-size: 3vw;
                    }
                    h2{
                        font-size: 8vw;
                        margin-top: -3%;
                    }
                }
            }

            #about-text{
                height: 50vh;
                min-height: 300px;

                #about-text-content{
                    width: 100%;
                    margin-top: 0%;

                    .about-box-reveal{
                        width: 100%;
                        margin-top: 0px;

                        p{
                            font-size: 4vw;
                        }
                        h1{
                            font-size: 10vw;
                        }
                        h2{
                            font-size: 6vw;
                        }
    
                        #about-txt-1, 
                        #about-txt-2, 
                        #about-txt-3, 
                        #about-txt-4, 
                        #about-txt-5, 
                        #about-txt-6, 
                        #about-txt-7,
                        #about-txt-8{
                            margin-left: 4%;
                            margin-top: 0%;
                        }
                    }
                    
                }

                #about-txt-img1{
                    display: none;
                }

                #about-txt-img2{
                    bottom: 0%;
                    right: 7%;
                    width: 28vw;
                }
            }
        }
    }

    #skill{
        min-height: 550px;
        height: 65vh;

        #skill-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #skill-content{
            width: 90%;
            padding: 10px 25px 30px 25px;
            align-items: center;

            .skill-box{
                width: 19vw;
                margin: 1vh 1.3vw;
                margin-bottom: 0;
                padding-bottom: 0;

                img{
                    width: 45%;
                }

                p{
                    font-size: 2.5vw;
                    margin-top: 10px;
                }

                span{
                    font-size: 2.2vw;
                    margin-top: 2.5px;
                }

            }
        }
    }

    #work{
        min-height: 600px;
        height: 120vh;

        #work-title{
            width: 10%;

            h2{
                transform: rotate(-90deg);
            }
        }

        #work-content{
            width: 90%;

            .work-box{
                height: 100%;
                
                .work-display{
                    width: 80%;
                    padding: 3%;

                    .picture-box{
                        width: 100%;
                    }

                    .block-white-line{
                        height: .5px;
                        margin-top: 4%;
                        margin-bottom: 3%;
                        width: 90%;
                    }

                    h3, p{
                        margin-top: 1%;
                        letter-spacing: 1px;
                    }

                    h3{
                        font-size: 4.5vw;
                    }
                    p{
                        font-size: 3vw;
                    }
                }
            }

            #work-other{
                height: 30%;

                h3{
                    font-size: 3vw;
                    letter-spacing: 1px;
                }
            }
        }
    }

    #footer{
        min-height: 500px;
        height: 70vh;

        #footer-grad-top{
            height: 42%;
        }

        #footer-grad-bottom{
            #socials{
                height: 8vh;
                display: flex;
                align-items: center;
                overflow: hidden;
                h3{
                    font-size: 13px;
                    padding-top: 2%;
                }
                ul{
                    margin-right: 5vw;
                    li{
                        margin: 0 1%;
                        display: flex;
                        justify-content: center;

                        a{
                            img{
                                width: 12px;
                                transform: translateY(25%);
                            }
                            p{
                                transform: translateY(0%);
                                font-size: 7.5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #hm{
        text-align: center;
        #hmp{
            width: 90vw;
            font-size: 9px;
        }
    }
    .white-line{
        width: 1.5px;
    }
    .show-project{
        
        .work-close{
            top: 5.5vh;
            right: 5.5vw;
            width: 7vw;
            height: 30px;
            opacity: .9;

            .fullimg-close-part{
                height: 1px;

                &.cpart1{
                    transform: rotate(45deg);
                }

                &.cpart2{
                    transform: rotate(-45deg);
                }
            }
        }
    
        .project-title-box{
            width: 80%;
            margin-bottom: 23px;

            .work-link{
                margin-top: 10px;
                width: 72px;
                height: 32px;
                
                a{
                    font-size: .8rem;
                }
            }
    
            h1{
                font-size: 5vw;
                letter-spacing: 1px;

                &.work-sw{
                    font-size: 8vw;
                    margin-bottom: -10px;
                }
            }
            h2{
                font-size: 3.8vw;
                margin-top: .25vh;
                letter-spacing: 1px;
            }
            .line-project-title{
                width: 75%;
                margin-top: 12px;
            }
            p{
                font-size: .7rem;
                padding-right: 15px;
            }
        }
    
        .project-images{
            margin-bottom: 1vh;
            padding-top: 2vh;
    
            .pr-image-box{
                width: 65vw;
                overflow: hidden;
                margin: 2.5vh 3.5vw;

                &.pr-portrait{
                    height: auto;
                    width: 27vw;
                }

                div{
                    img{
                        width: 100%;
                        transition: .5s cubic-bezier(0,.57,.45,1);
                        cursor: url('../img/cpoint.png'), auto;
                    }
                }
            }
        }
    }
}
