#about{
    height: 90vh;
    min-height: 600px;

    #about--title{
        width: 10%;
        height: 100%;

        h2{
            transform: rotate(-90deg);
        }
    }

    #about-content{
        width: 90%;

        #about--img{
            height: 40vh;
            min-height: 300px;

            #about-name{
                p{
                    font-size: 3vw;
                }
                h2{
                    font-size: 8vw;
                    margin-top: -3%;
                }
            }
        }

        #about-text{
            height: 50vh;
            min-height: 300px;

            #about-text-content{
                width: 100%;
                margin-top: -4%;

                .about-box-reveal{
                    width: 100%;
                    margin-top: 0px;

                    p{
                        font-size: 4vw;
                    }
                    h1{
                        font-size: 7.5vw;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }

                    #about-txt-1{
                        margin-left: 16%;
                    }
                    #about-txt-2{
                        margin-left: 35%;
                    }
                    #about-txt-3, 
                    #about-txt-5{
                        margin-left: 4%;
                    }
                    #about-txt-4{
                        margin-left: 7%;
                    }
                    #about-txt-6{
                        margin-left: 7%;
                    }
                    #about-txt-7{
                        margin-left: 11%;
                    }
                    #about-txt-8{
                        margin-left: 18%;
                    }
                }
            }

            #about-txt-img1{
                display: none;
            }

            #about-txt-img2{
                bottom: 0%;
                right: 7%;
                width: 28vw;
            }
        }
    }
}