#work{
    min-height: 600px;
    height: 100vh;
    width: 190vw;

    #work-title{
        width: 10vw;

        h2{
            transform: rotate(-90deg);
        }
    }

    #work-content{
        width: 180vw;

        .work-box{
            width: 90%;
            height: 100%;
            
            .work-display{
                width: 80%;
                padding: 3%;

                .picture-box{
                    width: 100%;

                    .show-project-btn{
                        width: 20vw;
                        height: 30px;

                        .spb-line{
                            border: 1px solid $cold;

                            p{
                                font-size: 55%;
                                transform: translateX(-17%);
                            }
                        }

                        &:hover{
                            .spb-line{
                                width: 100%;
                                height: 100%;

                                .spb-img{
                                    img{
                                        width: 70%;
                                        height: 65%;
                                        transform: rotate(-90deg) translateY(-8%);
                                    }
                                }

                                p{
                                    transform: translateX(-7%);
                                }
                            }
                        }
                    }
                }

                .block-white-line{
                    height: .5px;
                    margin-top: 4%;
                    margin-bottom: 3%;
                    width: 90%;
                }

                h3, p{
                    margin-top: 1%;
                    letter-spacing: 1px;
                }

                h3{
                    font-size: 6vw;
                }
                p{
                    font-size: 3vw;
                }
            }
        }
    }
}