#about{
    height: 85vh;

    #about--title{
        width: 10%;
        height: 100%;

        h2{
            transform: rotate(-90deg);
        }
    }

    #about-content{
        width: 90%;

        #about--img{
            height: 40vh;

            #about-name{
                p{
                    font-size: 2.5vw;
                }
                h2{
                    font-size: 7vw;
                    margin-top: -3%;
                }
            }
        }

        #about-text{
            height: 45vh;
            padding-top: 10px;

            #about-text-content{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                .about-box-reveal{
                    margin-top: 4px;

                    p{
                        font-size: 3.1vw;
                    }
                    h1{
                        font-size: 6.3vw;
                    }

                    #about-txt-1{
                        margin-left: 18%;
                    }
                    #about-txt-2{
                        margin-left: 38%;
                    }
                    #about-txt-3, #about-txt-5{
                        margin-left: 4%;
                    }
                    #about-txt-4{
                        margin-left: 10%;
                    }
                    #about-txt-6{
                        margin-left: 8%;
                    }
                    #about-txt-7{
                        margin-left: 19%;
                    }
                    #about-txt-8{
                        margin-left: 30%;
                    }
                }
            }

            #about-txt-img1{
                width: 15vw;
                left: 4%;
                top: 30%;
            }

            #about-txt-img2{
                bottom: 5%;
                right: 10%;
                width: 15vw;
            }
        }
    }
}