#work{
    height: 100vh;

    #work-title{
        width: 10vw;

        h2{
            transform: rotate(-90deg);
        }
    }

    #work-content{
        width: 180vw;

        .work-box{
            height: 100%;
            width: 90vw;
            
            .work-display{
                width: 80%;

                .picture-box{
                    .show-project-btn{
                        height: 3vh;
                    }
                }

                // .spb-mobile{
                //     display: block;
                // }
            }
        }
    }
}