@media (max-width: 1024px) and (orientation: portrait) {
  #header {
    height: 50vh;
  }
  #header #scroll-down p {
    font-size: 15px;
  }
  #header #scroll-down img {
    width: 80%;
    height: 90%;
  }
  #about {
    height: 85vh;
  }
  #about #about--title {
    width: 10%;
    height: 100%;
  }
  #about #about--title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #about #about-content {
    width: 90%;
  }
  #about #about-content #about--img {
    height: 40vh;
  }
  #about #about-content #about--img #about-name p {
    font-size: 2.5vw;
  }
  #about #about-content #about--img #about-name h2 {
    font-size: 7vw;
    margin-top: -3%;
  }
  #about #about-content #about-text {
    height: 45vh;
    padding-top: 10px;
  }
  #about #about-content #about-text #about-text-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal {
    margin-top: 4px;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal p {
    font-size: 3.1vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal h1 {
    font-size: 8.3vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal h2 {
    font-size: 5vw;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-1, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-5, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-7 {
    margin-left: 8%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-2 {
    margin-left: 25%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-3 {
    margin-left: 50%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-4 {
    margin-left: 8%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
    margin-left: 11%;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-4, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-6, #about #about-content #about-text #about-text-content .about-box-reveal #about-txt-8 {
    margin-bottom: -3%;
  }
  #about #about-content #about-text #about-txt-img1 {
    width: 15vw;
    left: 4%;
    top: 30%;
  }
  #about #about-content #about-text #about-txt-img2 {
    bottom: 5%;
    right: 10%;
    width: 15vw;
  }
  #skill {
    min-height: 70vh;
  }
  #skill #skill-title {
    width: 10%;
  }
  #skill #skill-title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #skill #skill-content {
    width: 90%;
    padding: 20px 25px 60px 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skill #skill-content .skill-box {
    width: 15vw;
    height: 12vh;
    margin: 1vw 2vw;
  }
  #skill #skill-content .skill-box img {
    width: 50%;
  }
  #skill #skill-content .skill-box p {
    font-size: 2.3vw;
    margin-top: 10px;
  }
  #skill #skill-content .skill-box span {
    margin-top: 2.5px;
  }
  #work {
    height: 100vh;
  }
  #work #work-title {
    width: 10%;
  }
  #work #work-title h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #work #work-content {
    width: 90%;
  }
  #work #work-content .work-box {
    height: 70%;
  }
  #work #work-content .work-box .work-display {
    width: 80%;
  }
  #work #work-content #work-other {
    height: 30%;
  }
  #work #work-content #work-other h3 {
    font-size: 2.5vw;
    letter-spacing: 1px;
  }
  #footer {
    height: 50vh;
  }
  #footer #footer-grad-bottom #socials {
    height: 75px;
  }
  #footer #footer-grad-bottom #socials h3 {
    font-size: 25px;
  }
  #footer #footer-grad-bottom #socials ul {
    margin-right: 3.5vw;
  }
  #footer #footer-grad-bottom #socials ul li {
    min-width: 30px;
    margin: 0 1.1vw;
    text-align: center;
  }
  #footer #footer-grad-bottom #socials ul li a img {
    width: 20px;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  #footer #footer-grad-bottom #socials ul li a p {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    font-size: 15px;
  }
  .work-close {
    height: 2vh !important;
    width: 5vw !important;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  #about #about--title {
    height: 100%;
  }
  #about #about-content #about-text {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  #about #about-content #about-text #about-text-content {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about #about-content #about-text #about-text-content .about-box-reveal {
    width: 100%;
  }
  #skill-content {
    width: 80%;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  #skill-content .skill-box {
    width: 15vw !important;
  }
  #work #work-title {
    height: 100%;
  }
}
/*# sourceMappingURL=index.css.map */