// @use '../variable' as *;
#skill{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
    background: $dark;

    #skill-title{
        width: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../img/overlay2.jpg);
        background-size: cover;
        
        h2{
            font-family: $heading;
            color: $light;
            font-size: 5vw;
            font-weight: lighter;
        }

    }

    #skill-content{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px 100px 60px 100px;
        position: relative;
        
        .skill-box{
            width: 12vw;
            height: 150px;
            margin: 1vh 1vw;
            color: $light;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            filter: saturate(0) contrast(1.7);
            transition: .75s ease-in-out;

            &.no-contrast{
                filter: saturate(0) contrast(1) brightness(2);    
            }
            
            &.more-contrast{
                filter: saturate(0) contrast(2) brightness(1);    
            }

            .skill-logo-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                
                svg{
                    transition: .75s cubic-bezier(.2,.01,0,.99);
                    width: 40%;
                    stroke: rgba(255, 255, 255, 1);
                    stroke-width: 2;
                    stroke-dasharray: 5000;
                    stroke-dashoffset: 5000;
                    
                    path, circle{
                        transition: 2.5s ease;
                    }
                    
                    &.animate-svg{
                        stroke-dashoffset: 0;
                    }
                    
                    &.wideimg{
                        width: 55%;
                    }
                }
            }

            .skill-text-wrapper{
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                overflow: hidden;

                p{
                    font-family: $text;
                    font-size: 1.5vw;
                    font-weight: 600;
                }
                span{
                    font-family: $text;
                    font-size: 1.2vw;
                    font-weight: 200;
                }
            }


            &:hover{
                filter: saturate(.85) contrast(1);
    
                svg{
                    transform: scale(1.3);
                }
            }
        }

        #skill-svg{
            position: absolute;
            left: -10%;
            bottom: 10%;
            transform: rotate(-90deg) scale(.4);
        }
    }
}